{% extends 'header.html' %} {% block content %}

<div class="d-flex row col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 align-items-center p-3 my-3 rounded shadow-sm">
  
  <p class="h2 bg-light rounded shadow-sm mb-3 p-2 text-center">Listado de Horarios</p>

    <table class="table table-hover text-center">   
      {% if schedules %}
      <tr>
        <th>ID</th>
        <th>Día</th>
        <th>Horario I</th>
        <th>Horario F</th>
        <th>Empleados</th>
        <th colspan="2">Acciones</th>
      </tr>
         
            <tr>
            <!--<td>{{ sche.id }}</td>-->
            {% for sche in schedules %}
              <td>{{ sche.date.date }}</td>
               
              {% for h in sche.hourIni.all %}
              <tr>{{ h.hourIni }}: {{ sche.usuario.nombre }} {{ sche.usuario.apellido }} </tr>            
              {% endfor %}
            {% endfor %}
            </tr>
             
            <tr>
            
            </tr>
            <!--
            <td>{{ sche.hourIni }}</td>
            <td>{{ sche.hourFin }}</td>

            {% if sche.usuario.exists %}
            <td>{{ sche.usuario.nombre }}</td>
            {% else %}            
            <td>Sin asignar</td>
            {% endif %}
            -->
          
       
      
    </table>
    {% else %}
    <p>No hay calendarios con los criterios seleccionados.</p>
    {% endif %}
</div>

{% endblock %}
{% include 'footer.html' %}