{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Opcionalmente, puedes incluir tu propio CSS después del CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/tu_propio_estilo.css' %}">

    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</head>

{% block content %}
{% endblock %}