{% extends 'header.html' %} {% block content %}

<div class="d-flex row col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 align-items-center p-3 my-3 rounded shadow-sm">
  
  <p class="h2 bg-light rounded shadow-sm mb-3 p-2 text-center">Listado de empleados</p>

    <table class="table table-hover text-center">   
      {% if empleados %}
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th colspan="2">Acciones</th>
      </tr>
        {% for emp in empleados %}
          <tr>
            <td>{{ emp.id }}</td>
            <td>{{ emp.nombre|upper }}</td>
            <td>{{ emp.usuario|upper }}</td>
            <td>{{ emp.contraseña|upper }}</td>
            <td>
              <a class="btn btn-warning" href="{% url 'editarEmpleado' emp.id %}">Editar</a>
              {% url 'eliminarEmpleado' emp.id as eliminar_url %}

              <a class="btn btn-danger" onclick="confirmarEliminacion('{{ eliminar_url }}')">Eliminar</a>
            </td>
          </tr>
          <script>
            function confirmarEliminacion(url) {
              if (confirm("¿Estás seguro de que deseas eliminar a este empleado?")) {
                  // Si el usuario confirma, redirigir a la URL de eliminación
                  window.location.href = url;
              }
          }
          </script>
        {% endfor %}      
      
    </table>
    {% else %}
    <p>No hay empleados con los criterios seleccionados.</p>
    {% endif %}
</div>

{% endblock %}
{% include 'footer.html' %}