{% extends 'header.html' %}
{% block content %}

<div class="d-flex row col-lg-4 offset-lg-4 col-md-10 offset-md-1 col-sm-10 offset-sm-1 align-items-center p-3 my-3 rounded shadow-sm">
  
  <p class="h2 bg-light rounded shadow-sm mb-3 p-2 text-center">Iniciar sesión</p>

  <form method="POST" >
    {% csrf_token %}

    {% if mensaje %}
    <p>{{form.errors}}</p>
    
                    <p>{{ mensaje }}</p>
    {% endif %}
    <div class="form-floating mt-2">
      <input type="text" class="form-control" id="floatingInput" style="display: none;" name="nombre" value="Nombre de usuario">
      
    </div>
    <div class="form-floating mt-2">
      <input type="text" class="form-control" id="floatingInput" name="usuario" placeholder="Nombre de usuario">
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating mt-2">
      <input type="password" class="form-control" id="floatingPassword" name="contraseña" placeholder="Contraseña">
      <label for="floatingPassword">Contraseña</label>
    </div>
 
    <button class="btn btn-primary w-100 py-2 mt-4" type="submit">Iniciar sesión</button> 
  </form>
</div>
{% endblock %}
{% include 'footer.html' %}