{% extends 'header.html' %}
{% block content %}

    {% if usu %}
    <p>Editando empleado</p>
    {% else %}
    <p>Agregando empleado</p>
    {% endif %}


    <form method="POST" enctype="multipart/form-data">    
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn btn-success">Reiniciar</button>
        <button type="reset" class="btn btn-warning" onclick="redirectToUsers()">Volver</button>
      
    </form>
    <script>
        function redirectToUsers() {
            window.location.href = "{% url 'listEmpleados' %}";
        }
    </script>
{% endblock %}
{% include 'footer.html' %}