{% extends 'header.html' %}
{% block content %}

<div class="d-flex row col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 align-items-center p-3 my-3 rounded shadow-sm">
  
    {% if usu %}
    <p class="h2 bg-light rounded shadow-sm mb-3 p-2 text-center">Editar empleado</p>
    {% else %}
    <p class="h2 bg-light rounded shadow-sm mb-3 p-2 text-center">Nuevo empleado</p>
    {% endif %}

    <div class="col-md-6 offset-lg-3 text-center form-floating mt-2 ">
             
    <form method="POST" enctype="multipart/form-data">    
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">{% if usu %}Actualizar{% else %}Guardar{% endif %}</button>
        <button type="reset" class="btn btn-success">Reiniciar</button>
        <button type="reset" class="btn btn-warning" onclick="redirectToUsers()">Volver</button>
      
    </form>
    <script>
        function redirectToUsers() {
            window.location.href = "{% url 'listEmpleados' %}";
        }
    </script>
    </div>
</div>
{% endblock %}
{% include 'footer.html' %}